html, body, .map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Sans-serif;
}
.search {
    position: absolute;
    opacity: 0.8,
    top: 10px;
    left: 10px;
    font-size: large;
    width: 50%;
    box-shadow: 0 0 4px 0 #fff;
}
.search:focus, .search:hover {
    box-shadow: 0 0 3px 2px #ffc01c;
}
.ol-attribution {
    border-radius: 4px 0 0 0;
    background-color: grey;
    background-color: rgba(0, 0, 0, 0.6);
}
.toolbar {
    position: absolute;
    top: 10px;
    right: 0;
}
.toolbar div a {
    position: relative;
    display: block;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: grey;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.toolbar div a.selected {
    z-index: 2;
    box-shadow: 0 0 3px 2px #606cff;
}
.toolbar div a:focus, .toolbar div a:hover {
    outline: none;
    z-index: 3;
    box-shadow: 0 0 3px 2px #ffc01c;
}
.toolbar div a.selected:focus, .toolbar div a.selected:hover {
    box-shadow: 0 0 3px 2px #a76cff;
}
.toolbar div a:first-child {
    border-top-left-radius: 3px;
}
.toolbar div a:last-child {
    border-bottom-left-radius: 3px;
    margin-bottom: 10px;
}
.tooltip {
    background-color: grey;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    border-radius: 3px;
    padding: 0 15px;
    height: 40px;
    display: table; 
}
.tooltip div {
    display: table-cell;
    vertical-align: middle;
}
.zoom-in:before {
    content: "+";
    font-weight: bold;
}
.zoom-out:before {
    content: "−";
    font-weight: bold;
}
.result {
    position: absolute;
    transition: all 1s;
    overflow: hidden;
    padding: 5px 15px 0 15px;
    left: 0;
    bottom: -150px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.result.selected {
    bottom: 0;
}
.result p, .result h5 {
    margin: 5px 0;
}
.result h5 img {
    float: right;
}
.routing {
    display: none;
    position: absolute;
    overflow: hidden;
    padding: 5px;
    left: 10px;
    top: 45px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}
.routing.selected {
    display: block;
}

.fullscreen .toolbar div a.layers {
    display: none;
}
.layers-list {
    position: absolute;
    transition: all 1s;
    padding: 0 5px;
    top: 10px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}
.layers-list a {
    display: block;
    color: black;
    padding: 10px;
    font-size: 17px;
    text-align: right;
    text-decoration: none;
}
